// Colors
$accent         : #1d538c;
$accent-dark    :   darken($accent, 10);
$accent-light   :   lighten($accent, 10);

$light      : #fff;
$dark       :   #000;


// Breakpoints
@mixin screen($name) {
    @if map-has-key($breakpoints, $name) {
        @media only screen and #{map-get($breakpoints, $name)} {
            @content;
        }
    }
}

$breakpoints:(
    'mobile':                   '(max-width: 600px)',
    'tablet':                   '(min-width: 601px) and (max-width: 992px)',
    'mobile-tablet':            '(max-width: 992px)',
    'desktop-small':            '(max-width: 1200px)',
);